.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px 5px 80px;
}
.header img{
    width: 160px;
    
}
.header ul{
    display: flex;
    justify-content: space-around;
    width: 65%;
}
.header ul li{
    font-size: 20px;
    color: #5f5f5f;
    cursor: pointer;
}
.header ul li:hover{
    color: #0251cf;
}
.header .aayush-logo{
    width: 32%;
}

@media only screen and (max-width:500px){
    .header .unorder{
        display: none;
    }
}